.progressor_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: inline-flex;
  z-index: 1000;
}

progress.scroll_progressor {

  width: 100%;
  height: 0.6rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: top;
}

progress.scroll_progressor[value]::-webkit-progress-bar {
  background-color: #eee;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress.scroll_progressor::-moz-progress-bar {
  background: blue;
}


progress.scroll_progressor::-webkit-progress-value {
  background: blue;
}

progress.scroll_progressor {
  color: blue;
}
